# Python files
*.pyc
*.pyo
__pycache__/
*.egg-info/
dist/
build/
*.egg
*.log
*.pot
*.db
*.sqlite3

# Django specific
*.log
*.pot
*.db
db.sqlite3
migrations/
__init__.py


# Static and Media Files
# For static files like CSS, JS, and images. Django's collectstatic command will gather all static files here when deploying.
static/
# For user-uploaded files. Don't share user data to repo.
media/

# Virtualenv for Python
venv/
*.venv
*.pyvenv.cfg

# Environment variables and keys
.env

# Caching
*.cache
# For Redis, you might have dump files:
dump.rdb

# Server config files, security features, Scripts and Utilities
server staff/

# MacOS specifics
.DS_Store